/*---------*/
/*Variables*/
/*---------*/

:root{
    --yellow:rgb(240, 187, 14);
    --dyellow:rgb(184, 116, 14);
    --purple:rgb(150, 37, 150);
    --dpurple:rgb(82, 33, 105);
    --teal:rgb(15, 146, 146);
    --dteal:rgb(30, 86, 104);
}
/*_______________________________________*/

/*-----*/
/*Style*/
/*-----*/

body{
    margin:0;
    background-color:white;
    user-select: none;
    overflow:hidden;
}

.navMenu{
    display:flex;
    position:fixed;

    list-style-type:none;
    width:100vw;
    margin:0;
    padding:0;
    overflow:hidden;
    justify-content:center;

    z-index:10;
}
    .navMenu#yNav{
        background-color:var(--yellow);
        box-shadow: 0 8px 10px 0 var(--dyellow);
    }

    .navMenu#pNav{
        background-color:var(--purple);
        box-shadow: 0 8px 10px 0 var(--dpurple);
    }

    .navMenu#tNav{
        background-color:var(--teal);
        box-shadow: 0 8px 10px 0 var(--dteal);
    }

    .navMenu li{
        float:right;
    }

        .navMenu li a{
            display:block;

            padding:8px;
            background-color:none;
            text-decoration:none;
            text-align:center;
            font-family:'Arcane';
            font-size:20px;
            color:white;

            transition-duration:0.5s;
        }

            #yNav li a:hover:not(.active){
                background-color:var(--dyellow);
            }

            #pNav li a:hover:not(.active){
                background-color:var(--dpurple);
            }

            #tNav li a:hover:not(.active){
                background-color:var(--dteal);
            }

            .navMenu li a:active{
                background-color:white;
            }
      
.dropDownBar{
    display:none;
    position:fixed;

    margin-top:-1px;
    width:100vw;
    height:57px;

    z-index:5;
}

    .dropDownBar#yBar{
        background-color:var(--yellow);
        box-shadow: 0 5px 10px 0 var(--dyellow);
    }

    .dropDownBar#pBar{
        background-color:var(--purple);
        box-shadow: 0 5px 10px 0 var(--dpurple);
    }

    .dropDownBar#tBar{
        background-color:var(--teal);
        box-shadow: 0 5px 10px 0 var(--dteal);
    }

    .dropDownBar p{
        display:flex;
        position:fixed;

        font-family:'Arcane';
        color:white;
        margin-left:20px;
        margin-top:-30px;
        font-size:5.5rem;

        z-index:5;
    }

    .dropDownMenu{
        display:flex;

        flex-direction:column;
        justify-content:space-around;

        height:60vh;
        width:100vw;
        position:fixed;
        top:-100vh;
        list-style-type:none;
        padding:0;

        transition:1s ease;

        z-index:4;
    }

        .dropDownMenu li a{
            display:block;

            padding:8px;
            background-color:none;
            text-decoration:none;
            text-align:center;
            font-family:'Arcane';
            font-size:3rem;
            color:white;

            transition-duration:0.5s;
        }

        .dropDownMenu#yDrop{
            background-color:var(--yellow);
            box-shadow: 0 5px 10px 0 var(--dyellow);
        }

        .dropDownMenu#pDrop{
            background-color:var(--purple);
            box-shadow: 0 5px 10px 0 var(--dpurple);
        }

        .dropDownMenu#tDrop{
            background-color:var(--teal);
            box-shadow: 0 5px 10px 0 var(--dteal);
        }

        .show{
            top:55px;
            margin:0;
        }

    #dropDownIcon{
        display:flex;
        position:fixed;

        right:0;
        flex-direction:column;
        width:50px;
        height:45px;
        margin:4px auto;
        transform:rotate(0deg);
        transition-duration:.5s;
        cursor:pointer;

        z-index:10;
    }

        #dropDownIcon span{
            display:flex;
            position:relative;

            height:9px;
            width:80%;
            margin:8%;
            background:white;
            border-radius:10px;
            opacity:1;
            transform:rotate(0deg);
            transition-duration:0.4s;
        }

        #dropDownIcon span:nth-child(1){

        }

            #dropDownIcon.open span:nth-child(1){
                transform:rotate(135deg);
                top:35%;
            }

        #dropDownIcon span:nth-child(2){

        }

            #dropDownIcon.open span:nth-child(2){
                opacity:0;
            }

        #dropDownIcon span:nth-child(3){

        }

            #dropDownIcon.open span:nth-child(3){
                transform:rotate(-135deg);
                top:-30%;
            }

.mainContainer{
    height:100vh;
}

.textCenter{
    text-align:center;
}

/*_______________________________________*/

/*Sida1*/

#sida1main{
    /*background-color:rgb(255, 198, 10);*/
    display:grid;
    grid-template-areas:
    'i'
    'ib'
    ;
}

    #movingScreen{
        background-color:var(--yellow); 
        position:fixed;
        width:100vw;
        height:53vh;
        margin-top:-100%;

        transition-delay:0s;
        transition-duration:1.5s;
        transition-timing-function:ease;
        z-index:5;
    }

    #movingBubbles{
        background-image:url(../img/IntroBubbles.png);
        background-position:center center;
        background-size:cover;

        position:fixed;
        width:100vw;
        height:100vh;
        margin-top:-100%;

        transition-delay:0s;
        transition-duration:2s;
        transition-timing-function:ease;
        z-index:4;
    }

    #introduction{
        grid-area:i;

        /*color:white;*/
        color:var(--dyellow);
        margin-top:12%;

        display:grid;
        grid-template-areas:
        'ih'
        'it'
        ;

        z-index:10;
    }

        #introHeader{
            grid-area:ih;

            text-align:center;
            font-family:'Arcane';
            font-weight:500;
            font-size:5rem;
            margin-left:3%;
            margin-right:3%;
            color:white;
        }

        #introText{
            grid-area:it;

            color:rgba(223, 145, 28, 0);
            text-align:center;
            font-family:'Arcane';
            font-weight:100;
            font-size:1.2rem;
            margin-top:-5rem;

            transition-delay:2s;
            transition-duration:2s;
        }

    #introButton{
        grid-area:ib;

        color:rgba(255, 255, 255, 0);
        justify-self:center;
        font-family:'Arcane';
        font-weight:500;
        text-decoration:none;
        font-size:1.6rem;

        transition-delay:4s;
        transition-duration:1.7s;

        z-index:6;
    }

        #introButton:hover{
            font-size:2rem;
        }

.mainContainer:hover #movingScreen{
    margin-top:0;
}

.mainContainer:hover #movingBubbles{
    margin-top:0;
}

.mainContainer:hover .dot{
    margin-top:27.5%;
}

.mainContainer:hover #introText{
    color:white;
}

.mainContainer:hover #introButton{
    /*color:rgb(184, 116, 14);
    color:rgb(255, 198, 10);*/
    color:var(--yellow);
}
/*_______________________________________*/

/*Sida2*/

#sida2main{
    display:flex;
    justify-content:space-around;
}

    #ySlidingScreen{
        display:flex;
        position:fixed;

        background-color:var(--yellow); 
        width:100vw;
        height:53vh;
        margin-top:-100vh;

        transition:1.2s ease;

        z-index:4;
    }

    #sida2main #mainHeader{
        display:flex;
        position:fixed;

        margin-top:40px;

        font-family:'Arcane';
        font-size:5rem;
        color:white;

        z-index:5;
    }

    #sida2main p{
        font-family:'8bit';
        color:var(--dyellow);
        font-weight:100;
        font-size:1rem;
        padding:10px;
    }

    #sida2main main{
        display:flex;
        flex-direction:row;
        justify-content:space-evenly;

        width:100%;
        top:57px;

        background-color:white;

        z-index:3;
    }

        #leftAbout{
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
            width:min-content;
            
            /*box-shadow:0 5px 5px rgb(225, 229, 240);*/

            z-index:3;
        }

            #me{
                height:400px;

                z-index:3;
            }

            #leftAbout p{
                overflow-wrap:break-word;
                text-align:center;
            }

        #rightAbout{
            display:flex;
            flex-direction:column;
            align-self:center;
        }

            #rightAbout article{
                display:flex;
                flex-direction:column;
                justify-content:space-around;
                margin-top:5px;

                box-shadow:0 5px 5px rgb(225, 229, 240); 

                z-index:3;
            }

                #statsText{
                    display:flex;
                    flex-direction:row;
                    justify-content:space-evenly;
                }

                    #statsWords{
                        font-size:16.57px !important;
                    }

                #rightAbout article h2{
                    display:flex;
                    align-self:center;

                    font-family:'Arcane';
                    font-size:2rem;
                    font-weight:100;
                    color:var(--yellow);
                    margin:0;
                }

                #rightAbout article h2 p{
                    font-family:'Digital';
                }

body:hover #ySlidingScreen{
    margin-top:-350px;
}
/*_______________________________________*/

/*Sida3*/

#sida3main{
    display:flex;
    justify-content:center;

    font-family:'Arcane';
    color:var(--purple);
}

    #work{
        position:fixed;
        margin-left:20%;
        margin-top:100px;

        writing-mode:vertical-lr;
        text-orientation:sideways-right;
        font-size:10rem;
        font-family:'Arcane';
        color:white;

        z-index:2;
    }

    #pSlidingScreen{
        display:flex;
        position:absolute;

        background-color:var(--purple); 
        width:200px;
        height:100%;
        margin-left:40%;

        box-shadow:-60px 0px 15px var(--dpurple) inset;

        transition:1.2s ease;

        z-index:1;
    }

    #cards{
        display:flex;
        flex-direction:column;
        justify-content:space-evenly;

        background-color:white;
        width:40vw;

        z-index:2;
    }

        .card{
            display:flex;
            align-self:center;

            width:80%;
            height:15vh;
            box-shadow:0 8px 8px 0 rgb(164, 170, 177);
            border-radius:0 100px 100px 0;

            transition-duration:0.3s;
        }

            #pFilter{
                display:flex;

                width:100%;
                height:100%;
                background-color:var(--purple);
                opacity:60%;

                transition-duration:0.5s;

                z-index:3;
            }

            .card img{
                display:flex;

                margin-top:-100%;
                width:auto;
                height:100%;
                
                z-index:2;
            }

            #pressPointer{
                display:flex;
                position:relative;
                margin:auto;
                margin-right:0;
                right:50px;
                font-size:2rem;
            }

            .cardContainer{
                display:flex;
                flex-direction:column;
                justify-content:center;
                
                font-size:2rem;
            }

                .cardContainer p{
                    margin-left:10px;
                }

body:hover #pSlidingScreen{
    margin-left:21.5%;
}

.card:hover{
    width:90%;
}

.card:hover #pFilter{
    opacity:0;
}

/*_______________________________________*/

/*Sida4*/

#sida4main{

}
    #tSlidingScreen{
        display:flex;
        position:fixed;

        background-color:var(--teal); 
        width:100vw;
        height:53vh;
        margin-top:-100vh;

        transition:1.2s ease;

        z-index:1;
    }

    #contactIcons{
        display:flex;
        flex-direction:column;
        position:inherit;

        justify-content:center;
        align-items:center;

        color:var(--teal);
        font-size:20rem;
    }

        #getInTouch{
            display:flex;
            flex-direction:row !important;
        }

            .contactText{
                font-family:'Arcane';
                font-size:12rem;
                font-weight:500;
                margin:0;
                color:white;

                transition-duration:0.2s;

                z-index:3;
            }

                /*.contactText:hover{
                    color:var(--dteal);
                }*/

                #get{
                    flex:1;
                    margin:20px;
                }

                #in{
                    flex:2;
                    margin:20px;
                }
            
                #touch{
                    flex:3; 
                    margin:20px;
                }

        #iconHolder{
            display:flex;
            flex-wrap:wrap;
            justify-content:space-between;

            z-index:3;
        }

            .contactIcon{
                color:var(--teal);
                font-family:'Social Shapes';
                text-decoration:none;
                margin:0;

                transition-duration:0.2s;

                z-index:5;
            }

                .icon:hover{
                    font-size:21rem;
                    color:var(--dteal);
                }

                .icon:active{
                    color:white;
                }

body:hover #tSlidingScreen{
    top:-25%;
    margin:0;
}
/*_______________________________________*/

/*----*/
/*Misc*/
/*----*/

@font-face{
    font-family:'Social Shapes';
    src: url(../font/Social\ Media\ Circled.otf)
}

@font-face{
    font-family:'Arcane';
    src: url(../font/Arcane\ Nine.otf)
}

@font-face{
    font-family:'Digital';
    src: url(../font/DS-DIGI.TTF)
}

@font-face{
    font-family:'Runes';
    src: url(../font/PixelChozo.ttf)
}

@font-face{
    font-family:'8bit';
    src: url(../font/Monotype_Gerhilt.ttf)
}
/*_______________________________________*/


/*--------------*/
/*Responsiveness*/
/*--------------*/

/*Mobile*/

@media only screen and (max-width: 479px) {

    /*Misc*/
    body{
        overflow-x:hidden;
        overflow-y:visible;
    }

    .navMenu{
        display:none;
    }

    .dropDownBar{
        display:flex;
    }

    /*Sida 1*/
    #movingBubbles{
        display:none;
    }    

    /*Sida 2*/
    #mainHeader{
        display:none !important;
    }

    #ySlidingScreen{
        display:none !important;
    }

    #sida2main{
        flex-direction:column;
        justify-items:flex-end;
    }

        #sida2main main{
            flex-direction:column;
            margin-top:100px
        }

            #leftAbout{

            }

                #me{
                    margin-top:520px;
                    width:100vw;
                    height:auto;

                    box-shadow:0 8px 15px 0 rgb(137, 140, 148);
                }

            #rightAbout{

            }

    /*Sida 3*/
    #cards{
        width:90%;
    }

        #pressPointer{
            right:15px;
            font-size:2rem;
        }

        .cardContainer{
            font-size:1.5rem;
        }
    /*Sida 4*/
    #getInTouch{
        flex-direction:column;
        font-size:auto;
        margin-top:57px;
    }

    .contactText{
        font-size:2rem;
        flex-direction:row;
    }

    #tSlidingScreen{
        margin-top:-100px !important;
    }

    #iconHolder{
        display:flex;
        flex-direction:column;
        margin-top:6vh;
        text-align:center;
        font-size:8rem;
    }

        .icon:hover{
            font-size:5rem;
        }


}
/*_______________________________________*/

/*Desktop*/