/*---------*/
/*Variables*/
/*---------*/

:root{
    --yellow:rgb(240, 187, 14);
    --dyellow:rgb(184, 116, 14);
    --purple:rgb(150, 37, 150);
    --dpurple:rgb(82, 33, 105);
    --teal:rgb(15, 146, 146);
    --dteal:rgb(30, 86, 104);
}
/*_______________________________________*/

/*-----*/
/*Style*/
/*-----*/

body{
    margin:0%;
    overflow-x:hidden;
    overflow-y:hidden;
    /*background-color:rgb(255, 198, 10);*/
    background-color:white;
    /*background-image:linear-gradient(to bottom, rgb(255, 198, 10), rgb(240, 178, 0));*/
}

.navMenu{
    display:flex;
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    justify-content:center;
}
    .navMenu#yNav{
        background-color:var(--yellow);
    }

    .navMenu#pNav{
        background-color:var(--purple);
    }

    .navMenu#tNav{
        background-color:var(--teal);
    }

    .navMenu li{
        float:right;
    }

        .navMenu li a{
            display: block;

            padding: 8px;
            background-color:none;
            text-decoration:none;
            text-align:center;
            font-family:'Arcane';
            font-size:20px;
            color:white;

            transition-duration:0.2s;
        }

            li a:hover:not(.active){
                background-color:var(--yellow);
                color:white;
            }

            .active{
                background-color:var(--yellow);
            }

.mainContainer{
    height:100vh;
}
/*_______________________________________*/

/*Sida1*/

#sida1main{
    /*background-color:rgb(255, 198, 10);*/
    display:grid;
    grid-template-areas:
    'i'
    'ib'
    ;
}

    #movingScreen{
        background-color:var(--yellow); 
        position:fixed;
        width:100vw;
        height:53vh;
        margin-top:-100%;

        transition-delay:0s;
        transition-duration:1.5s;
        transition-timing-function:ease;
        z-index:5;
    }

    #movingBubbles{
        background-image:url(../img/IntroBubbles.png);
        background-position:center center;
        background-size:cover;

        position:fixed;
        width:100vw;
        height:100vh;
        margin-top:-100%;

        transition-delay:0s;
        transition-duration:2s;
        transition-timing-function:ease;
        z-index:4;
    }

    #introduction{
        grid-area:i;

        /*color:white;*/
        color:var(--dyellow);
        margin-top:12%;

        display:grid;
        grid-template-areas:
        'ih'
        'it'
        ;

        z-index:10;
    }

        #introHeader{
            grid-area:ih;

            text-align:center;
            font-family:'Arcane';
            font-weight:500;
            font-size:5rem;
            margin-left:3%;
            margin-right:3%;
            color:white;
        }

        #introText{
            grid-area:it;

            color:rgba(223, 145, 28, 0);
            text-align:center;
            font-family:'Arcane';
            font-weight:100;
            font-size:1.2rem;
            margin-top:-5rem;

            transition-delay:2s;
            transition-duration:2s;
        }

    #introButton{
        grid-area:ib;

        color:rgba(255, 255, 255, 0);
        justify-self:center;
        font-family:'Arcane';
        font-weight:500;
        text-decoration:none;
        font-size:1.6rem;

        transition-delay:4s;
        transition-duration:1.7s;

        z-index:6;
    }

        #introButton:hover{
            font-size:2rem;
        }

.mainContainer:hover #movingScreen{
    margin-top:0;
}

.mainContainer:hover #movingBubbles{
    margin-top:0;
}

.mainContainer:hover .dot{
    margin-top:27.5%;
}

.mainContainer:hover #introText{
    color:white;
}

.mainContainer:hover #introButton{
    /*color:rgb(184, 116, 14);
    color:rgb(255, 198, 10);*/
    color:var(--yellow);
}
/*_______________________________________*/

/*Sida2*/


/*_______________________________________*/

/*Sida3*/


/*_______________________________________*/

/*Sida4*/

#contactIcons{
    display:flex;
    justify-content:center;
    font-family:'Social Shapes';
    color:var(--teal);
    font-size:10rem;
}

    #contactText{
        
        color:var(--teal);
        font-family:'Digital';
        font-size:12rem;
        font-weight:500;
    }

    .contactIcon{
        transition-duration:0.2s;
        text-decoration:none;

        color:var(--teal);
    }

        .contactIcon:hover{
            font-size:11rem;
        }

        .contactIcon:visited{
            color:var(--dteal);
        }

        .contactIcon:active{
            color:white;
        }

    #instagram{
        
    }

    #facebook{
        
    }

    #youtube{
        
    }

    #gmail{

    }
/*_______________________________________*/

/*----*/
/*Misc*/
/*----*/

@font-face{
    font-family:'Social Shapes';
    src: url(../font/Type\ Icons.ttf)
}

@font-face{
    font-family:'Arcane';
    src: url(../font/Arcane\ Nine.otf)
}

@font-face{
    font-family:'Digital';
    src: url(../font/DS-DIGI.TTF)
}
/*_______________________________________*/


/*--------------*/
/*Responsiveness*/
/*--------------*/

/*Mobile*/

@media only screen and (max-width: 479px) {
    #movingBubbles{
        display:none;
    }
}
/*_______________________________________*/

/*Desktop*/